<%- include('header', {title: `Edit Sighting ${sighting.index}`}) %>

<div class="container">
  <div class="d-flex justify-content-center p-3">
    <h1>Edit Sighting <%= sighting.index %></h1>
  </div>

  <div class="container-fluid">
    <form
      class="row g-3 needs-validation"
      action="/sighting/<%= sighting.index %>?_method=PUT"
      method="POST"
      novalidate
    >
      <div class="col-12">
        <label for="validationCustom01" class="form-label">Text</label><br />
        <textarea
          class="form-control"
          type="text"
          id="validationCustom01"
          name="text"
          required
        >
            <%= sighting.text %>
            </textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter some text.</div>
        <br />
      </div>

      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Date & Time</label
        ><br />
        <input
          class="form-control"
          type="datetime-local"
          id="validationCustom02"
          name="date_time"
          value="<%= sighting.date_time %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please select a valid date and time.</div>
        <br />
      </div>

      <div class="col-md-6">
        <label for="validationCustom03" class="form-label">City</label><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom03"
          name="city"
          value="<%= sighting.city %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid city.</div>
        <br />
      </div>

      <div class="col-md-4">
        <label for="validationCustom04" class="form-label">State</label><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom04"
          name="state"
          value="<%= sighting.state %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid state.</div>
        <br />
      </div>

      <div class="col-md-4">
        <label for="validationCustom05" class="form-label">Shape</label><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom05"
          name="shape"
          value="<%= sighting.shape %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid shape.</div>
        <br />
      </div>

      <div class="col-md-4">
        <label for="validationCustom06" class="form-label">Duration</label
        ><br />
        <input
          class="form-control"
          type="text"
          id="validationCustom06"
          name="duration"
          value="<%= sighting.duration %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please provide a valid duration.</div>
        <br />
      </div>

      <div class="col-12">
        <label for="validationCustom07" class="form-label">Summary:</label
        ><br />
        <textarea
          class="form-control"
          id="validationCustom07"
          rows="3"
          name="summary"
          required
        >
<%= sighting.summary %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Please enter a summary.</div>
        <br />
      </div>

      <div class="col-12">
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
    </form>
  </div>
</div>

<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    "use strict";
    window.addEventListener(
      "load",
      function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName("needs-validation");
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>

<%- include('footer'); -%>
